[data-index="1"] {
	margin-left: 10px;	
	margin-top: -13px;
}

[data-index="2"] {
	margin-top: 5px;
	margin-left: 60px;	
}
[data-index="3"] {
	margin-left: 10px;	
}
[data-index="4"] {
	margin-top: 5px;	
	margin-left: 60px;
}
[data-index="5"] {
	margin-left: -10px;	
}
[data-index="6"] {
	margin-left: -10px;	
	margin-top: -20px;
}

#joyride {
	position: fixed;
  bottom: 50%;
  left: -500px;	
  width: 26px;
  height: 26px;
  background: white;
	color: #444;
	&:hover {
		background: #008CBA;
		color: white;
		cursor: pointer;

	}
}

.fa-question {
  position: relative;
  left: 32%;
  top: 10%;
}