[data-index="1"] {
	margin-left: 10px;	
	margin-top: -13px;
}

[data-index="2"] {
	margin-top: 5px;
	margin-left: 60px;	
}
[data-index="3"] {
	margin-left: 10px;	
}
[data-index="4"] {
	margin-top: 5px;	
	margin-left: 60px;
}
[data-index="5"] {
	margin-left: -10px;	
}
[data-index="6"] {
	margin-left: -10px;	
	margin-top: -20px;
}
