$layerHeight: 50px;
$controlBar: 150px;
$layerHoverColor: #55ACEE;
$layerButtonHoverColor: red;
$layerStaticColor: #008CBA;



#search-bar {
	position: absolute;
	margin: 0px;
	padding: 0px;
	// overflow: hidden;
	top: 40px;
	left: 20px;
	z-index: 999;
	width: 500px;
	left: -80%;
}

#submit-search, #search-item {
	margin-bottom: 5px;
}

.layer {
	background-color: $layerStaticColor;
	height: $layerHeight; 
	padding-right: 15px;
	margin-bottom: 5px;
	width: 470px; 
	float: left;
	display: none;
  box-shadow: 2.5px 2.5px 8px rgba( 1, 2, 0, .2);
  color: #444;
  font-size: 14px;
  border: 1px solid rgba( 0, 0, 0, 0.2 );
  padding: 1px;
  // -moz-border-radius: 3px 3px 0px 0px;
  // -webkit-border-radius: 3px 3px 0px 0px;
  // border-radius: 3px 3px 0px 0px;

}

ul#layers {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.row.layer:hover {
	background-color: $layerHoverColor;
	transition: background-color .25s;
}

p, .control-bar, .layer-item, .control-button {
	display: inline-block;
}


.control-bar {
	float: right;
	height: $layerHeight;
	width: $controlBar;
}

.control-button {
  float: right;
  padding-top: 12px;
  padding-left: 15px;
  height: $layerHeight;
  width: 33%;
}

.control-button:hover {
	background-color: $layerButtonHoverColor;
}

.error {
	z-index: -1;
}

small.error {
  margin-top: -5 !important;
  margin-bottom: 5px !important;
}



// Odometer
@import url('//fonts.googleapis.com/css?family=Jura:400,500&subset=latin,latin-ext');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

$odometerBGColor: linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);

body {
  font-family: 'Jura', sans-serif;
  color: #fff;
}

.odometer {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  // border: 1px solid #fff;
  border-radius: 4px;
  width: 130px;
  float:right;
  margin-top: 6px;
  ul.digits {
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    li.digit {
      position: relative;
      float: left;
      background-color: transparent;
      font-size: 2em;
      min-width: .65em;
      min-height: 1em;
      line-height: 1em;
      .cou-item {
        ul {
          position: absolute;
          list-style: none;
          padding: 0px;
          margin: 0px;
          left: 0px;
          top: 0px;
          backface-visibility: hidden;
          transform-origin: 50% 50%;
          transform: translate(0, 0em);
          transition: all 1s cubic-bezier(0, 1.2, 1, 1.2);
          &.goto-5 {
            //animation: bounce 0.8s ease-out 1;
            transform:translateY(-10em);
          }
          li {
            display: block;
            background-color: $odometerBGColor;
            min-width: 2em;
            min-height: 2em;
            line-height: 2em;
            text-align: center;
          }
        }
      }
    }
  }
}

.goto-0 {
  transform:translateY(-2em) !important;
}
.goto-1 {
  transform:translateY(-4em) !important;
}
.goto-2 {
  transform:translateY(-6em) !important;
}
.goto-3 {
  transform:translateY(-8em) !important;
}
.goto-4 {
  transform:translateY(-10em) !important;
}
.goto-5 {
  transform:translateY(-12em) !important;
}
.goto-6 {
  transform:translateY(-14em) !important;
}
.goto-7 {
  transform:translateY(-16em) !important;
}
.goto-8 {
  transform:translateY(-18em) !important;
}
.goto-9 {
  transform:translateY(-20em) !important;
}


