#search-bar {
	position: absolute;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	top: 40px;
	left: 20px;
	z-index: 314159;
	width: 500px;
	left: -80%;
}

#submit-search, #search-item {
	margin-bottom: 5px;
}

.layer {
	background-color: #4078C2;
	height: 50px; 
	padding-right: 15px;
	width: 465px; 
	float: left;

}

.layer:hover {
	background-color: white;
	transition: background-color .25s;
}


p, .layer-item {
	display: inline-block;
}