// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.leaflet-control-locate {
  border:1px solid rgba(0,0,0,0.4);
  }
.leaflet-control-locate a {
  background-color:#fff;
  background-position:-3px, -2px;
  }
.leaflet-control-locate.active a {
  background-position:-33px -2px;
  }