<div id='search-bar'>
	<form>
		<div class="row">
    	<div class="large-12 columns">
      	<div class="row collapse">
        	<div class="small-9 columns">
          	<input id="search-item" type="text" placeholder="Search Tweets">
        	</div>
        	<div id="search-button" class="small-3 columns">
        	<!-- TEMP: Change Search to an icon  -->
          	<input id="submit-search" type="submit" class="button postfix">Search</input>
        	</div>
      	</div>
    	</div>
  	</div>
	</form>

  <div id='counter' class="row" style="background-color: white; height:30px; width:50px; float:left">
  </div>
  <button id="pause"class="button">Pause Stream</button>

  <div id="layers-container">
    <ul id="layers">
      
    </ul>
  </div>
</div>