<div class="row layer">
	
	<p><%= layerName %></p>

	<div class="counter layer-item">
  </div>
	
	<div class="layer-item">
	  <button class="pause button tiny">Pause Stream</button>	
	  <button class="opacity button tiny">Opacity</button>	
	  <button class="destroy button tiny" data-id="<%= layerName %>">Remove</button>	
  </div>
</div>


