<div class="row layer">
	
	<p><%= layerName %></p>

	<div class="counter layer-item">
  </div>
	
	<div class="layer-item">
	  <button class="pause button tiny"><i class="fa fa-pause fa-2x"></i></button>	
	  <button class="opacity button tiny"><i class="fa fa-toggle-off fa-2x"></i></button>	
	  <button class="destroy button tiny" data-id="<%= layerName %>"><i class="fa fa-trash-o fa-2x"></i></button>	

  </div>
</div>


