<div style='background-color:white'>
	<p>
		<%= layer %>
	</p>

	<div class="row counter" style="background-color: white; height:30px; width:50px; float:left">
  </div>

  <button class="pause button tiny">Pause Stream</button>	
</div>


