<div class="row layer">
	
	<p><%= layerName %></p>

	<div class="counter layer-item">
  </div>
	
	<div class="control-bar">
	  <div class="control-button pause"><i class="fa fa-pause fa-lg"></i></div>
	  <div class="control-button opacity"><i class="fa fa-toggle-off fa-lg"></i></div>	
	  <div class="control-button destroy" data-id="<%= layerName %>"><i class="fa fa-trash-o fa-lg"></i></div>	
  </div>

</div>


